<html>
    <head>
        
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% if title %}
        <title>{{title}} - hackathon</title>
        {% else %}
        <title>hackathon</title>
        {% endif %}
    </head>
    <body>
        <div>Triangle: <a href="/index">Home</a>
            {% if g.user.is_authenticated() %}
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            | <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
