<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Create Profile</h1>
<form action="" method="post" name="Create your profile">
    {{form.hidden_tag()}}
    <p>
        Username:{{form.name(size=80)}}<br>
        Email:{{form.email(size=80)}}<br>
        Cell:{{form.cell(size=90)}}<br>
        {% for error in form.errors.openid %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}</br>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
